:root{
    --planta: #3AAC53;
    --inseto: #397446;
    --fogo: #DD742E;
    --lutador: #A64505;
    --fada: #FC72C0;
    --psiquico: #CB42AE;
    --venenoso: #A04EC9;
    --fantasma: #5F12A2;
    --eletrico: #DDCE2E;
    --metal: #7A8E95;
    --normal: #4E575A;
    --voador: #B4BEC1;
    --dark: #2F2F2E;
    --terra: #63432E;
    --pedra: #826030;
    --dragao: #2A5CC9;
    --agua: #2EB1DD;
    --gelo: #8BDCF7;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100dvh;
    background: url('../images/teste.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}
.box_gif_pokemon{
    position: absolute;
    align-self: flex-end;
    height: fit-content;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.gif_pokemon{
    width: 700px;
}

.box-details-pokemon{
    width: 600px;
    height: 650px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.fixed-box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height:100px;
    width: 100%;


    & h1{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 50px;
        line-height: 0;
    }
}
.name-id-pokemon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    gap: 10px;
}

.id-pokemon{
    margin-top: 15px;
    font-size: 40px;
    color: rgb(37, 37, 37);
    font-size: arial;
}

.type-pokemon{
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.type{
    font-size: 15px;
    display: block;
    width: 80px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    margin-top: 5px;
}
.planta{
    background-color: var(--planta);

}
.fire{
    background-color: var(--fogo) ;
    color: white;
}
.water{
    background-color: var(--agua);
}


.slider {
    width: 100%;
    max-width: 600px;
    position: relative;
    overflow: hidden; 
    margin-top: 10px;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out; 
    width: 100%; 
    margin-top: 10px;
  }
  
  .slide {
    min-width: 100%;
    height: 500px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ccc;
    font-size: 24px;
    font-weight: bold;
  }
  
  #slide1 {
    background: var(--fogo);
    color: white;
  }
  
  #slide2 {
    background: #ffffff;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
  }
  
  #slide3 {
    background: #75ff33;
    color: black;
  }
  
  .controls{
    & button{
        background-color: rgba(246, 246, 246, 0);
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        transition: 0.1s all ease-in-out;
    }
  }

  .active{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid green;
}

  .disable{
    border: none;
  }


  .box-graph{
    width: 100%;
    height: 60%;
    background-color: red;
  }
  .slide-stats{
    min-height: fit-content;
    background-color: red;
  }
  .resistencia{
    width: 100%;
    height: 40%;
    background-color: rgb(62, 60, 60);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 100px; 
  }

  .item{
    background-color: blue;
    display: flex;
    flex-direction: column;
  }
  .title-item{
    height: fit-content;
    width: 100%;
    font-size: 1rem;
  }
  .content-item{
    width: 100%;
    height: 90%;
    background-color: #2EB1DD;
  }