footer{
    width: 100%;
    height: 25vh;
    background-color: #232222;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2em;
    color: #fff;
}
.f_logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 30%;
}
.f_logo img{
    max-width: 40%;
    height: auto;
}
.c_name{
    flex-direction: column;
    width: 40%;
    text-align: center;
}



/*footer img{
    height: 80%;
}
footer h1 {
    font-size: 1em;
    flex-direction: column;
    max-width: 30%;
}*/