body{
    background-color: gray;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board{
    width: 1200px;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    /* background-color: red; */
    flex-wrap: wrap;
}
.card{
    width: calc((100% - 80px) / 8 );
    height: 180px;
    min-width: calc((100% - 80px) / 10 );
    background-color: blue;
}