*{
    margin:0;
    border:0;
}

.container{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.container-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:52%;
    height: 90%;
    background-color: beige;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}
.lado-esq{
    width:49%;
    height: 98%;

}
.lado-esq img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    background-size: contain;
    border-radius:20px;
}
.lado-dir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:49%;
    height: 99%;
    background-color: #E4E4E8;
}
.formulario{
    width:80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
   
 
}
.formulario input, button{
    width:100%;
    height: 35px;
    margin-bottom:15px;

}
.formulario p{

}
.icons-form{
    width:80%;
    height: auto;
    background-color: aqua;
}

.lado-dir h3{
    align-self:flex-start;
}