/* ESTILO DA PÃGINA INICIAL - TELA DE CARREGAMENTO */

body{
    width: 100%;
    height: 100dvh;
    background: url("../images/background_login2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
.logo-pokemon{
    width: 900px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.box-img-pikachu{
    position: relative;
    animation: running 4s infinite linear;
    width: 100%;
    height: 50px;
    right: 0;
}

.img-pikachu {
    width: 100px; /* Defina o tamanho da imagem */
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translateY(-50%);
    animation: moveRight 3s ease-in forwards;
}
@keyframes moveRight {
    0% {
      left: -40px;
    }
    10%{
        left: -40px;
    }
    100% {
      left: calc(100% - 80px); /* 100% menos a largura da imagem */
      display: none;

    }
  }

.box-loading-bar {
    width: 400px;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 75%;
    transform: translateY(-75%);
}

.loading-bar {
    width: 100%;
    height: 20px;
    background-color: gray;
    border-radius: 5px;
    animation: noneDisplay 3s ease-in forwards;
    position: relative;
    z-index: 1;
}

@keyframes noneDisplay {
    0%{
        display: block;
    }
    100%{
        display: none;
    }
}

.fill-loading-bar {
    width: 60%;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(235, 235, 22);
    display: block;
    animation: fill 3s ease-in forwards;
    display: block;
}

@keyframes fill {
    from {
        width: 0;
    }
    to {
        width: 100%;
        display: none;
    }
}

.bottom-start{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 75%;
    transform: translateY(-75%);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s;
}

.bottom-start:hover{
    background-color: rgb(216, 20, 20);
    cursor: pointer;
    scale: 1.04;
}

.bottom-start >img{
    width: 50px;
}


