:root {
    --grass: linear-gradient(0deg, #3AAC53 0%, #5DC67C 35%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%);
    --bug: linear-gradient(0deg, #397446 0%, #5C9764 35%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%);
    --fire: linear-gradient(0deg, #DD742E 0%, #E88F56 35%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%);
    --fighting: linear-gradient(0deg, #db1c1c 0%, #E44A4A 35%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%);
    --fairy: linear-gradient(0deg, #FC72C0 0%, #FF9BD7 35%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%);
    --psychic: linear-gradient(0deg, #CB42AE 0%, #E06BC8 35%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%);
    --poison: linear-gradient(0deg, #A04EC9 0%, #BE75DD 35%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%);
    --ghost: linear-gradient(0deg, #5F12A2 0%, #803BC2 35%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%);
    --electric: linear-gradient(0deg, #ecdb24 0%, #F5E94F 35%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%);
    --steel: linear-gradient(0deg, #7A8E95 0%, #9EAFB3 35%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%);
    --normal: linear-gradient(0deg, #4E575A 0%, #6E7D80 35%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%);
    --flying: linear-gradient(0deg, #B4BEC1 0%, #D1D8DA 35%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%);
    --dark: linear-gradient(0deg, #2F2F2E 0%, #494948 35%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%);
    --ground: linear-gradient(0deg, #63432E 0%, #84614B 35%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%);
    --rock: linear-gradient(0deg, #826030 0%, #A17D4C 35%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%);
    --dragon: linear-gradient(0deg, #2A5CC9 0%, #4E7EDF 35%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%);
    --water: linear-gradient(0deg, #2EB1DD 0%, #54C9ED 35%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%);
    --ice: linear-gradient(0deg, #8BDCF7 0%, #ACEDFA 35%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%);
    --padrao: linear-gradient(0deg, #1a1a1a 0%, #333333 35%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%);
  }

  
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, #000000 50%, #272d32 100%); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.return-icon{
    width: 100%;
    max-width: 50px;
    height: 50px;
    position: absolute;
    left: 20px;
    top: 40px;
    z-index: 999;
    cursor: pointer;
  }
  .return-icon:hover{
    transform: scale(1.05);
  }

.container-main{
    width: 1400px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    margin-top: 150px;
}

.card-pokemon{
    border-radius: 10px ;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
}

.image-card-pokemon{
    margin-top: -70px;

}


#card1, #card5{
    height: 300px;
    width: 250px;
    font-size: 12px;

    & .stats-card-pokemon{
        font-size: 20px;
    }
}

#card2, #card4{
    width: 300px;
    height: 350px;

    & .stats-card-pokemon{
        font-size: 25px;
    }
}
#card3{
    width: 350px;
    height: 400px;
    font-size: 18px;

    & .stats-card-pokemon{
        font-size: 30px;
    }
}





.infos-card-pokemon{
    width: 100%;
    height: 135px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    text-transform: capitalize;
}

.stats-card-pokemon{
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 10px;
    height: 30px;
    

    & div{
        width: 100px;
        height: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;
        
        & p{
            font-weight: normal;
            margin: 0;
            white-space: nowrap;
        }

    }
}



.icon-card{
    width: 100%;
    width: 30px;
    height: 30px;
}

.pokemon-message {
    background-color: #FFCB05;
    color: #3D7DCA;
    font-family: 'Pokemon', sans-serif;
    font-size: 20px;
    padding: 10px;
    border: 2px solid #3D7DCA;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  

  .nonePokemon{
    width: 100%;
    height: 100%;
    background-color: rgb(63, 62, 62);
    position: absolute;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    cursor: pointer;

    & img{
        width: 100%;
        max-width: 50px ;
        cursor: pointer;
    }
  }

  .nonePokemon:hover{
    background-color: rgb(43, 43, 43);
  }


  #nonePokemon1 img, #nonePokemon5 img{
    width: 100%;
    max-width: 50px ;
  } 
  

  #nonePokemon2 img, #nonePokemon4 img{
    width: 100%;
    max-width: 70px ;
  } 

  #nonePokemon3 img{
    width: 100%;
    max-width: 100px ;
  }

  .typePokemon{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: -10px;
  }

  .typePokemon img {
    width: 100%;
    max-width: 20px;
  }

  .remove-pokemon-button{
    background-color: rgba(216, 216, 216, 0.776);
    box-sizing: border-box;
    position: absolute;
    bottom: -50px;
    border: none;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    border-radius: 50%;

    & img{
        width: 100%;
        max-width: 40px;
    }
  }


  .stats-team-pokemon{
    display: flex;
    gap: 10px;
  }

  .stats-team{
    display: flex;
    gap: 5px;
    font-size: 30px;
    margin-top: 100px;
  }

  .title-page{
    position: absolute;
    font-size: 20px;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h1{
        margin: 0;
        white-space: nowrap;
        margin-top: -15px;
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        color: #fff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }
  }

  .logo{
    width: 100%;
    max-width: 300px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}