:root{
    --planta: #3AAC53;
    --inseto: #397446;
    --fogo: #DD742E;
    --lutador: #A64505;
    --fada: #FC72C0;
    --psiquico: #CB42AE;
    --venenoso: #A04EC9;
    --fantasma: #5F12A2;
    --eletrico: #DDCE2E;
    --metal: #7A8E95;
    --normal: #4E575A;
    --voador: #B4BEC1;
    --dark: #2F2F2E;
    --terra: #63432E;
    --pedra: #826030;
    --dragao: #2A5CC9;
    --agua: #2EB1DD;
    --gelo: #8BDCF7;
}


